Here, we shall research a little about the features of our data. According, we then observe which features to add and which ones to remove

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
data=pd.read_csv('/Users/raashidkhan/desktop/GitHub-Projects/Machine-Learning-Project/data/cleaned/cleaned_data.csv')
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,0.0,0.0,0.0,1.0,0.0,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,0.0,0.0,0.0,1.0,0.0,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,0.0,0.0,0.0,1.0,0.0,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,0.0,0.0,0.0,1.0,0.0,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,0.0,0.0,0.0,1.0,0.0,342200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,0.0,1.0,0.0,0.0,0.0,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,0.0,1.0,0.0,0.0,0.0,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,0.0,1.0,0.0,0.0,0.0,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,0.0,1.0,0.0,0.0,0.0,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,0.0,1.0,0.0,0.0,0.0,89400.0

In [57]:
data.corr()['median_income'].sort_values(ascending=False)

median_income                 1.000000
median_house_value            0.688075
total_rooms                   0.198050
ocean_proximity_<1H OCEAN     0.168876
ocean_proximity_NEAR BAY      0.056197
ocean_proximity_NEAR OCEAN    0.027344
households                    0.013033
population                    0.004834
total_bedrooms               -0.007617
ocean_proximity_ISLAND       -0.009228
longitude                    -0.015176
latitude                     -0.079809
housing_median_age           -0.119034
ocean_proximity_INLAND       -0.237496
Name: median_income, dtype: float64

In [ ]:
data['bedrooms_per_room']=data["total_rooms"]/data["total_bedrooms"]
data.corr()['median_income'].sort_values(ascending=False)

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value,bedrooms_per_room
0,-122.23,37.88,41.0,322.0,126.0,8.3252,0.0,0.0,0.0,1.0,0.0,452600.0,6.821705
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,0.0,0.0,0.0,1.0,0.0,358500.0,6.418626
2,-122.24,37.85,52.0,496.0,177.0,7.2574,0.0,0.0,0.0,1.0,0.0,352100.0,7.721053
3,-122.25,37.85,52.0,558.0,219.0,5.6431,0.0,0.0,0.0,1.0,0.0,341300.0,5.421277
4,-122.25,37.85,52.0,565.0,259.0,3.8462,0.0,0.0,0.0,1.0,0.0,342200.0,5.810714
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,845.0,330.0,1.5603,0.0,1.0,0.0,0.0,0.0,78100.0,4.451872
20636,-121.21,39.49,18.0,356.0,114.0,2.5568,0.0,1.0,0.0,0.0,0.0,77100.0,4.646667
20637,-121.22,39.43,17.0,1007.0,433.0,1.7000,0.0,1.0,0.0,0.0,0.0,92300.0,4.647423
20638,-121.32,39.43,18.0,741.0,349.0,1.8672,0.0,1.0,0.0,0.0,0.0,84700.0,4.547677
20639,-121.24,39.37,16.0,1387.0,530.0,2.3886,0.0,1.0,0.0,0.0,0.0,89400.0,4.521104

In [62]:
data.corr()['median_house_value'].sort_values(ascending=False)

median_house_value            1.000000
median_income                 0.688075
bedrooms_per_room             0.367217
ocean_proximity_<1H OCEAN     0.256617
ocean_proximity_NEAR BAY      0.160284
ocean_proximity_NEAR OCEAN    0.141862
total_rooms                   0.134153
housing_median_age            0.105623
households                    0.065843
total_bedrooms                0.049457
ocean_proximity_ISLAND        0.023416
population                   -0.024650
longitude                    -0.045967
latitude                     -0.144160
ocean_proximity_INLAND       -0.484859
Name: median_house_value, dtype: float64